<h2>Create Item</h2>
<form method="post" action="/items/new">

  <div class="form-group">
    <label>Name of item</label>
    <input type="text" class="form-control" placeholder="Name of Item" name="name">
  </div>

  <div class="form-group">
    <label>URL of the image</label>
    <input type="text" class="form-control" placeholder="URL of the image" name="imgUrl">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>